<div class="container">
    <div class="header-container">
        <h1 class="title">TODO</h1>
        <span class="change-theme" (click)="changeTheme()"><img [src]="changeThemeBtnUrl" alt=""></span>
    </div>
    <div class="form-control">
        <span class="circle-check center"></span>
        <input (keyup.enter)="addItem()" [(ngModel)]="newItem" type="text" placeholder="Create a new todo...">
    </div>
    <div [ngClass]="[isNight?'light':'dark','todo-items']">
        <div class="todo-item" @addDelete *ngFor="let item of todoItems | filter:filterType; index as i">
            <div class="main" (click)="check(item)">
                <span [ngClass]="[item.isCompleted?'circle-check-active':'','circle-check']"><img
                        src="../../assets/images/icon-check.svg" alt=""></span>
                <p>{{item.text}}</p>
            </div>
            <span class="crossed" (click)="deleteItem(item)"><img src="../../assets/images/icon-cross.svg" alt=""></span>
        </div>
        <div class="footer">
            <span>
                6 items left
            </span>
            <div class="filter">
                <span [ngClass]="filterType=='all'?'active':'pointer'" (click)="this.filterType = 'all'">All</span>
                <span [ngClass]="filterType=='active'?'active':'pointer'"
                    (click)="this.filterType = 'active'">Active</span>
                <span [ngClass]="filterType=='completed'?'active':'pointer'"
                    (click)="this.filterType = 'completed'">Completed</span>
            </div>
            <span (click)="clearCompleted()">Clear Completed</span>
        </div>

    </div>
</div>